{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="row">
    <h1>Input File</h1>
    <form action="/_analysis/upload" method="post" enctype="multipart/form-data" id="file-form" >
      <fieldset class="form-group">
        <input type="file" class="file-control-file" name="file" id="file-input" >
      </fieldset>
        <button class="btn btn-default" type="submit" id="submit-btn"> Submit </button>
    </form>
    </div> <!-- row -->
    </div> <!--column -->

  </div> <!-- row -->
{% endblock %}

{% block js %}
    <script src="../static/js/analysis.js"></script>
{% endblock %}
