{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="row">
    <h1>Controls</h1>
    <h2>Input File</h2>
    <form action="/_analysis/upload" method="post" enctype="multipart/form-data" id="file-form" >
      <fieldset class="form-group">
        <input type="file" class="file-control-file" name="file" id="file-input" >
        <div class="checkbox" >
        <label>
            <input type="checkbox" id="download-chk"> Download when done?
        </label>
        </div> <!-- checkbox -->
      </fieldset>
        <button class="btn btn-default" type="submit" id="submit-btn"> Submit </button>
    </form>
    <button class="btn btn-large" id="clear-btn"> Clear Graphs </button>
    </div> <!-- row in column-->
    </div> <!--column -->
  </div> <!-- row -->
<div class="row">
  <table id = "results" class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th> Zoomed Plot</th>
        </tr>
    </thead>
    </table>
  
  </div> <!-- row -->
{% endblock %}

{% block js %}
    <script src="../static/js/analysis.js"></script>
{% endblock %}
