{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
            <p>To begin select a file to analyze. </p>
            <p>To reset, reload this page. </p>
        </div> <!--panelbody -->
      </div> <!--panel-->
    </div> <!-- columsn -->
  </div> <!-- row -->
<div class="row col-md-12">
  <div class="collapse" id="fileSelect">
    <div class="well" id="file-well">
      <h3>File List</h3>
      <table id="file-list">
        </table>
      <button type="button" class="btn btn-lg" id="submit-file-button">
        Submit!
        </button> <!-- Submit file button -->
      </div> <!-- well -->
    </div> <!-- collapse div  -->
 </div> <!-- row -->

<div class="row col-md-12">
  <div class="collapse" id="validGraphSelect">
    <div class="well" id="graph-well">
      <table id="plot-maxes-tbl" class="table">
        </table>
      <button type="button" class="btn btn-lg" id="submit-max-button">
        Submit!
        </button>
      </div> <!-- Well -->
    </div> <!--valid graph div -->
  </div> <!-- row -->

<div class="row col-md-12">
  <div class="collapse" id="resultsCollapse">
    <div class="well" id="results-well">
      </div> <!-- well -->
    </div> <!-- collapse div -->
  </div> <!-- row -->
{% endblock %}

{% block js %}
    <script src="../static/js/analysis.js"></script>
{% endblock %}
