{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
<h1> Welcome!</h1>
<p class = "lead"> Click <i>Sensors</i> to record values from the sensors or
<i>Downloads</i> to download log files.</p>
</div> <!-- jumbotron -->

<div class = "row">
  <div class  = "text-center">
    <a class="btn btn-primary btn-lg" id = "sensor-btn" href="{{ url_for('sensors_html') }}" role="button">
      Sensors </a>
    <a class="btn btn-primary btn-lg" id = "downloads-btn" href="{{ url_for('downloads_html') }}" role="button">
      Downloads</a>
    <a class="btn btn-primary btn-lg" id = "analysis-btn" href="{{ url_for('analysis_html') }}" role="button">
      Analysis</a>
    </div>
</div>



{% endblock %}
